<div id="form_area">
  <form [formGroup]="register" (ngSubmit)="submit()">
    <div class="input-section">
      <label for="empid">Employee ID</label>
      <input type="text" id="empid" placeholder="Employee ID" class="inp" formControlName="empid"/>
      <div *ngIf="IsSubmitted && control.empid.errors" class="error">
        <div *ngIf="control.empid.errors.required">Employee ID is required</div>
      </div>
    </div>

    <div class="input-section">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="First Name" class="inp" formControlName="fname"/>
      <div *ngIf="IsSubmitted && control.fname.errors" class="error">
        <div *ngIf="control.fname.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="input-section">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Last Name" class="inp" formControlName="lname"/>
      <div *ngIf="IsSubmitted && control.lname.errors" class="error">
        <div *ngIf="control.lname.errors.required">Last Name is required</div>
      </div>
    </div>

    <div class="input-section">
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" class="inp" formControlName="dob"/>
      <div *ngIf="IsSubmitted && control.dob.errors" class="error">
        <div *ngIf="control.dob.errors.required">Date of Birth is required</div>
      </div>
    </div>

    <div class="input-section">
      <label for="pass">Password</label>
      <input type="password" id="pass" placeholder="Password" class="inp" formControlName="password"/>
      <div *ngIf="IsSubmitted && control.password.errors" class="error">
        <div *ngIf="control.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="input-section">
      <label for="cpass">Confirm Password</label>
      <input type="password" id="cpass" placeholder="Confirm Password" class="inp" formControlName="cpass"/>
      <div *ngIf="IsSubmitted && control.cpass.errors" class="error">
        <div *ngIf="control.cpass.errors.required">Confirmed Password is required</div>
      </div>
      <div class="error" *ngIf="nomatch">Password does not match</div>
    </div>

    <button class="submit">Register</button>
    <div class="error">
      <div *ngIf="error">Please try again!!</div>
      <div *ngIf="exist">Request for {{control.empid.value}} already exist</div>
      <div *ngIf="success" style="color: green">Your request has been sent for approval</div>
    </div>
  </form>
</div>
